*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    padding: 90px 20px 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}

.header{
    background-color: #F59E2D;
    height: 60px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.nav{
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: 10px auto;
    
}

.nav-link{
    color: white;
    text-decoration: none;
}

.logo{
    font-size: 10px;
    font-weight: bold;
    padding: 0 10px;
    line-height: 80px;
}

.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 60px;
    text-transform: uppercase;
    width: max-content;
}

.nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;
}

.nav-menu-link:hover{
    background-color: orange;
    transition: .5s;
}

.nav-toggle{
    color: rgb(255, 255, 255);
    background: none;
    border: none;
    font-size:30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
    display: none;

}

@media (max-width: 768px){
    body{
        padding: 70px 20px 0;
    }
    
    .header{
        height: 60px;
    }
    
    .logo{
        font-size: 25px;
        padding: 0 20x;
        line-height: 60px;
    }
    
    .nav-menu{
        flex-direction: column;
        align-items: left;
        margin-right: 0px;
        background-color: #F59E2D;
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;
        height: calc(100% - 60px);
        overflow-y: auto;

        left: 100%;
        transition: left 0.3s;
    }
    
    .nav-menu-item{
        line-height: 70px;
    }
    
    .nav-menu-link:hover{
        background: none;
        color: black;
    }

    .nav-toggle{
        display: block;
    }

    .nav-menu-visible{
        left: 50%;
    }
}

.container-form {
    width: 90%;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    transition: all .5s ease-out;
}

.welcome-back{
    display: flex;
    align-items: center;
    text-align: center;
}

.message{
    padding: 1rem;
}

.message h2{
    font-size: 1.7rem;
    padding: 1rem 0;
}

.message button{
    padding: 1rem;
    font-weight: 400;
    background-color: #F59E2D;
    border-radius: 2rem;
    border: none;
    outline: none;
    font-size: .9rem;
    margin-top: 2rem;
    transition: all .3s ease-in;
    color: white;
}

.message button:hover{
    background-color: orange;
    cursor: pointer;
}

.formulario{
    width: 400px;
    padding: 1rem;
    margin: 3rem;
    background-color: white;
    text-align: center;
}

.create-account{
    padding: 2.7rem 0;
    font-size: 1.7rem;
}

.iconos{
    width: 200px;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.border-icon{
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border-radius: 50%;
    font-size: 1.5rem;
    transition: all .3s ease-in;
}

.border-icon:hover{
    background-color: #F59E2D;
    color: white;
    cursor: pointer;
}

.cuenta-gratis{
    padding: 2rem 0;
}

.formulario input{
    width: 70%;
    display: flex;
    margin: auto;
    margin-bottom: 1rem;
    background-color: transparent;
    border: black;
    border-bottom: orange thin solid;
    text-align: center;
    outline: none;
    padding: .9rem 0;
    font-size: .9rem;
    color: black;  
}

.formulario input[type="button"]{
    width: 40%;
    display: inline-block;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    border: solid thin white;
    padding: .7rem;
    border-radius: 2rem;
    background-color: #F59E2D;
    font-weight: 3rem;
    font-size: .8rem;
    cursor: pointer;
    color: white;
}

.formulario input[type="button"]:hover{
    background-color: orange;
    transition: all .3s ease-in;
}


.formulario input[class="forgot-password-btn"]{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    border: solid thin white;
    padding: .7rem;
    border-radius: 2rem;
    background-color: white;
    font-weight: 3rem;
    font-size: .8rem;
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}
.formulario input[class="forgot-password-btn"]:hover{
    background-color: white;
}


.sign-up{
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.sign-up.active{
    opacity: 1;
    visibility: visible;
}

.sign-in.active{
    opacity: 0;
    visibility: hidden;
}

.forgot-password{
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.forgot-password.active{
    opacity: 1;
    visibility: visible;
}
